::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #343a40;
}
.select2{
    width: 100% !important;
}

.error {
    color: red;
}

.addBtn {
    margin-bottom: 20px;
}

.profile__header {
    padding: 30px;
    background: white;
    border-radius: 5px;
    margin: 20px 0;
}

.profile__left {
    padding: 30px 15px;
    background: white;
    border-radius: 5px;
    margin: 40px 5px 0 0;
}
.profile__left .profile-name{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile__left .profile-name h5{
    padding-top: 30px;
}
.profile__left .email{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile__left a.active{
    color: cornflowerblue !important;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.profile__left a.active path{
    fill: cornflowerblue;
}
.profile__left button:focus{
    box-shadow: none !important;
}
.profile__right {
    background: white;
    border-radius: 5px;
    margin-top: 40px;
    padding: 0 15px;
    padding-bottom: 30px;
}
.profile__info,.profile__pass{
    display: none;
}
.profile__info.active,.profile__pass.active{
    display: block;
}
.profile__info h6{
    padding: 30px 0;
}
.profile__info .avatar,.profile__info .name,.profile__info .email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.profile__info input{
    width: 60%;
}
.profile__pass .confirm,.profile__pass .newPassword,.profile__pass .repeatNewPassword{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.profile__pass .confirm{
    margin-bottom: 50px;
}
.profile__info .avatar_img img{
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .1);
}
.profile__info .avatar_img i.fas.fa-pen{
    color: cornflowerblue;
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: white;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .1);
}
.profile__info .avatar_img i.fas.fa-pen::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile__info .avatar_img .avatarDelete{
    margin-bottom: 0 !important;
    display: inline;
    position: absolute;
    bottom: -20px;
    left: 100px;
}
.profile__info .avatar_img .avatarDelete i.fas.fa-times{
    color: cornflowerblue;
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: white;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .1);
}
.profile__info .avatar_img .avatarDelete i.fas.fa-times::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile__info .avatar_img i:hover{
    cursor: pointer;
}
.profile__info .avatar_img{
    position: relative;
}
.profile__info .avatar_img .avatarLabel {
    position: absolute;
    left: 100px;
    top: -10px;
}
.profile__pass input{
    width: 60%;
}
.confirm{
    position: relative;
}
.confirm span{
    position: absolute;
    bottom: -20px;
    left: 40%;
}
.imagesForm:hover ~ .formLabel{
    opacity: 1;
}
.formLabel:hover{
    cursor: pointer;
    opacity: 1;
}
.formLabel{
    transition: all .3s ease;
    opacity: 0;
    color: cornflowerblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.formLabel i.fas.fa-pen{
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: white;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .1);
}
.formLabel i.fas.fa-pen::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.role__content{
    margin-top: 50px;
}
.role__left{
    background: white;
    border-radius: 5px;
    padding: 30px;
}
.role__right{
    background: white;
    border-radius: 5px;
    padding: 30px 30px 30px 60px;
}

.img-list img {
    max-width: 100px;
    margin: 10px 0;
}
.delete-img {
    cursor: pointer;
    margin-bottom: 30px;
    color: red;
}
.labelProduct:hover{
    cursor: pointer;
}
